<%- include('template/header') -%>

<center>
	<br/><br/><br/>
	<form action="/sign_in" method="POST">
		<fieldset style="width: 300px;">
		<legend>Авторизация:</legend>
			<label for="email">Email:</label><br/>
			<input type="text" name="email"><br><br>

			<label for="password">Password:</label><br/>
			<input type="password" name="password"><br><br>

			<input type="submit" value="Войти"><br/>
			или<br/>
			<input type="button" value="Google" onclick="auth()"><br/><br/>
			<a href="/sign_up">Нет аккаунта ?</a>
		</fieldset>
	</form>
</center>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
<!-- Initialize Firebase -->
<script type="text/javascript">
	// Your web app's Firebase configuration
	  var firebaseConfig = {
    apiKey: "AIzaSyC3WAmXTVelkc8tnM-RYL6zfJHBoxhudeo",
    authDomain: "fireui-975cd.firebaseapp.com",
    databaseURL: "https://fireui-975cd.firebaseio.com",
    projectId: "fireui-975cd",
    storageBucket: "fireui-975cd.appspot.com",
    messagingSenderId: "830655785375",
    appId: "1:830655785375:web:3d345e93e6bc316ca435aa",
    measurementId: "G-1Z4GPM68K8"
  };
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);

	function auth()
	{  //авториз для гугла
		var provider = new firebase.auth.GoogleAuthProvider();

		firebase.auth().signInWithPopup(provider)
		.then(function(result) 
		{
			getIdToken(result.user)
		})
		.catch(function(error) 
		{
			alert(error.message);
		});
	}

	function getIdToken(user)
	{
		user.getIdToken(true)
		.then(function(idToken) 
		{
			document.cookie = "__session="+idToken;
			window.location.replace("/createSessionCookie/");
		})
		.catch( function(error) 
		{
			alert(error.message)
		})
	}
</script>

<%- include('template/footer') -%>
